@import "../styles/base-portfolio.scss";

$orange: #bd5d38;

// Override Bootstrap default state colors
$primary: $orange;

h1 {
    font-size: 4rem;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
    .resume-section-content {
        width: 100%;
    }
}


@include media-breakpoint-up(md) {
    section.resume-section {
        min-height: 100vh;
    }

    h1 {
        font-size: 6rem;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.2rem;
        margin-right: 0.7rem;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}