<div class="item mb-5">
    <div class="media">
        <img *ngIf="post?.image" class="mr-3 img-fluid post-thumb d-none d-md-flex" [src]="post.image" alt="post image">
        <div class="media-body">
            <h3 class="title mb-1"><a [routerLink]="post?.route">{{post?.title}}</a></h3>
            <div class="meta mb-1" *ngIf="post?.date"><span class="date">{{post.date | date}}</span></div>
            <div class="intro">{{post?.description}}</div>
            <a class="more-link" [routerLink]="post?.route">{{seeMoreText}} &rarr;</a>
        </div>
    </div>
</div>