<app-blog-navigation></app-blog-navigation>

<div class="container mt-4" id="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <app-blog-filters-info
                [category]="postService.category$ | async"
                [searchTerm]="postService.searchTerm$ | async"
                ></app-blog-filters-info>
        
            <router-outlet></router-outlet>
        </div>
    
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
            <app-blog-search></app-blog-search>
            <app-blog-categories></app-blog-categories>
        </div>
    </div>
</div>

<app-blog-footer></app-blog-footer>