<app-blog-navigation></app-blog-navigation>

<div class="main-wrapper">
    <section class="cta-section theme-bg-light py-2">
        <div class="container text-center text-break">
            <h2 class="heading">{{blogTitle}}</h2>
            <div class="intro mb-2">{{blogDesc}}</div>

            <!--https://github.com/scullyio/scully/issues/920#issuecomment-692111016-->
            <app-blog-categories 
                *ngIf="!globalService.isReadingAPage && !globalService.isReadingAPost"
                ></app-blog-categories>

            <app-blog-search></app-blog-search>
            <!--https://github.com/scullyio/scully/issues/920#issuecomment-692111016-->
            <app-blog-filters-info
                *ngIf="!globalService.isReadingAPage && !globalService.isReadingAPost"
                [category]="postService.category$ | async"
                [searchTerm]="postService.searchTerm$ | async"
                ></app-blog-filters-info>
            
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <router-outlet></router-outlet>
            <!-- https://github.com/scullyio/scully/issues/920#issuecomment-693464927 -->
            <app-blog-related-posts 
                *ngIf="globalService?.isReadingAPost && postService?.relatedPosts?.length"
                [relatedPosts]="postService?.relatedPosts"
                ></app-blog-related-posts> 
            
            <!-- <nav class="blog-nav nav nav-justified my-5">
              <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
              <a class="nav-link-next nav-item nav-link rounded" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
            </nav> -->
            
        </div>
    </section>
    
    <app-blog-footer></app-blog-footer>
</div>
