<section class="content">
    <article>
        <h1>{{SITE_CONFIG.NAME}}</h1>
        <p>Xin chào, mình là <strong>Nhân Nguyễn</strong>. Mình viết blog hướng dẫn lập trình web dành cho người tự học lập trình.</p>

        <p>Nội dung blog chủ yếu chia sẻ về <strong>Cách tự học lập trình từ cơ bản</strong> theo kinh nghiệm của chính bản thân mình, cũng như hướng dẫn các công nghệ lập trình web như HTML, CSS, Javascript, Bootstrap, Angular, Nodejs, Mongodb, Postgresql,...</p>
        <p>Mình sẽ ra bài mới hằng tuần nên mọi người nhớ theo dõi qua các kênh bên dưới nha.</p>
        <h3>Liên hệ</h3>
        <p>Trang cá nhân: <a target="_blank" [href]="SITE_CONFIG.PROFILE">Nhan Nguyen</a></p>
        <p>Thông báo bài viết mới trên: <a target="_blank" [href]="SITE_CONFIG.FANPAGE">Nhan Nguyen Da Coder</a></p>
        <p>Thảo luận, hỏi đáp trên group: <a target="_blank" [href]="SITE_CONFIG.GROUP">Tôi tự học lập trình</a></p>
    </article>
</section>