<form class="signup-form form-inline justify-content-center pt-3">          
    <div class="form-group">
        <label class="sr-only" for="search">{{title}}</label>
        <input 
            type="email" 
            id="search" 
            name="search" 
            class="form-control mr-md-1 search" 
            placeholder="Search..."
            [(ngModel)]="lastSearch"
            #searchInput
            (keyup.enter)="doSearch(searchInput.value)"
            >
    </div>
    <button 
        type="submit" 
        class="btn btn-primary"
        (click)="doSearch(searchInput.value)"
        ><fa-icon [icon]="['fas', 'search']" size="1x"></fa-icon></button>
</form>
