<div class="card my-4">
    <h5 class="card-header text-secondary">{{title}}</h5>
    <div class="card-body">
        <div class="input-group">
            <input 
                type="text" 
                class="form-control" 
                [(ngModel)]="lastSearch"
                #searchInput
                (keyup.enter)="doSearch(searchInput.value)"
                >
            <span class="input-group-append">
                <button 
                    class="btn btn-secondary" 
                    type="button"
                    (click)="doSearch(searchInput.value)"
                    ><fa-icon [icon]="['fas', 'search']" size="1x"></fa-icon></button>
            </span>
        </div>
    </div>
</div> 