<div class="card my-4">
    <h5 class="card-header text-secondary">Danh mục</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li *ngFor="let c of CATEGORIES">
                        <a 
                            routerLinkActive="active"  
                            [routerLinkActiveOptions]="{exact:c.KEY===''}"
                            [routerLink]="['/blog']"
                            [queryParams]="{c: c.KEY || null}"
                            >{{c.NAME}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>