<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <strong>{{fullName}}</strong>
        </a>
        <button 
            class="navbar-toggler" 
            type="button" 
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li *ngFor="let m of menus" class="nav-item">
                    <a 
                        routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"
                        (click)="isMenuCollapsed = !isMenuCollapsed" 
                        class="nav-link" 
                        routerLink="{{m.route}}"
                        >
                        <fa-icon *ngIf="m.icon" [icon]="m.icon" size="1x"></fa-icon>
                        {{m.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>