<section class="content">
    <article>
        <scully-content></scully-content>
    </article>
    <p>
        <strong>
            Nếu có bất kỳ thắc mắc nào, bạn có thể thảo luận thêm trên group <a [href]="SITE_CONFIG.GROUP" target="_blank">Tôi tự học lập trình</a>.
        </strong>
    </p>
</section>
<nav>
    <h4>Các bài viết tương tự</h4>
    <ul *ngFor="let routes$ of routes$s">
        <li *ngFor="let route of routes$ | async">
            <a [routerLink]="[route.route]">{{route?.title}}</a>
        </li>
    </ul>
</nav>
