/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

header, footer, nav, .content {
    padding: 10px 30px;
}

nav {
    float: left;
    width: 40%;
}

.content {
    float: left;
    width: 60%;
}

section#main {
    min-height: 70vh;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {
    nav,
    .content {
        width: 100%;
        height: auto;
    }
}

.link {
    text-decoration: underline;
    color: #0000EE;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
