<div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h4 class="text-secondary">
            <ng-container *ngIf="(postService.searchTerm$ | async) as searchTerm">
                Kết quả tìm kiếm của: <span class="text-primary">{{searchTerm}}</span>. 
            </ng-container>

            <ng-container *ngIf="(postService.category$ | async) as category">
                <ng-container *ngIf="category?.KEY">
                    Trong danh mục: <span class="text-primary">{{category?.NAME}}</span>.
                </ng-container> 
            </ng-container>
        </h4>
    
    <app-post-item
        *ngFor="let p of postService.posts"
        [post]="p"
        ></app-post-item>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
        <app-blog-search></app-blog-search>
        <app-blog-categories></app-blog-categories>
    </div>
</div>


