@import "./styles/base-portfolio.scss";

#page-top {
    padding-top: $navbar-base-height;
    color: $gray-600;
}

@include media-breakpoint-up(lg) {
    #page-top {
        padding-top: 0;
        padding-left: $sidebar-base-width;
    }
}